@import '../../style/variables.scss';

.template {
    &__item {
        display: flex;
        justify-content: start;
        flex-direction: column;
        text-align: center;
        width: 190px;

        &:hover {
            .template__image img {
                transform: scale(105%);
                transition: all .2s linear;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 255px;

        &_loading {
            display: none;
        }

        img {
            margin: 0 auto;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: all .15s linear;
        }
    }

    &__title {
        margin-top: 10px;
        font-size: 1.28rem;
        font-weight: 300;
    }

    &__year {
        margin-top: 5px;
        font-size: 1.14rem;
    }
}