@import '../../style/variables.scss';

.template {
    &__item {
        display: flex;
        justify-content: start;
        flex-direction: column;
        text-align: center;
        width: 190px;

        &:hover {
            .template__image {
                transform: scale(105%);
                transition: all .3s linear;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__image {
        position: relative;
        margin: 0 auto;
        height: 255px;
        object-fit: cover;
        border: 0px solid $theme-color;
        border-radius: 10px;
        transition: all .3s linear;
    }

    &__title {
        margin-top: 10px;
        font-size: 1.28rem;
        font-weight: 300;
    }

    &__year {
        margin-top: 5px;
        font-size: 1.14rem;
    }
}