@import '../../style/variables.scss';

.promo {
    padding: 100px 0;
    width: 100%;
    max-height: 758px;

    .inner_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 534px;
        height: 352px;
    }

    &__title {
        font-size: 4.57rem;
    }

    &__original-title {
        position: relative;
        font-size: 2.57rem;
        color: $theme-color;
        margin: 25px 0 25px 25px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 45%;
            left: -25px;
            transform: translateY(-50%);
            width: 20px;
            height: 16px;
            background: url('../../resources/img/icon/4k.png') no-repeat center/cover;
        }
    }

    &__description {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 25px;
    }

    &__ratings {
        display: flex;

        &-name {
            font-size: 1.7rem;
            margin-right: 52.5px;

            span {
                margin-left: 5px;
                color: $theme-color;
            }
        }
    }

    &__img {
        position: relative;
        height: 540px;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(21, 26, 32, 0) 0%, rgba(21, 26, 32, 0.99) 150%);
        }
    }

    &__btn {
        margin-top: 20px;
        width: 200px;
        height: 50px;
        font-size: 1.7rem;
    }

    &__bg {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: radial-gradient(44.22% 57.61% at 56.6% 39.68%, rgba(21, 26, 32, 0) -170%, #151A20 100%), url('../../resources/img/background.jpg') top no-repeat;
        z-index: -1;
    }
}