@import '../../style/variables.scss';

.template-swiper {

    .title {

        a {
            margin-left: 10px;
            font-size: 1.1rem;
            text-decoration: none;
            color: $theme-color;
        }
    }

    .swiper {
        padding-top: 46px;
        position: relative;
        width: 100%;
        min-height: 400px;

        &-wrapper {
            width: 90%;
        }

        &-button {

            &-next,
            &-prev {
                position: absolute;
                top: 0px;
                z-index: 10;
                right: 0;

                &:before {
                    content: '\27A7';
                    color: $main-color;
                    opacity: .85;
                    font-size: 2.85rem;
                }

                &:active::before {
                    transition: all .3s ease-out;
                    color: $theme-color;
                }
            }

            &-prev {
                right: 30px;
                transform: rotateY(180deg)
            }

            &-disabled {
                opacity: 0.5;

                &:hover::before {
                    color: $main-color;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .swiper {
        &-button {

            &-next,
            &-prev {
                &:hover::before {
                    transition: all .3s ease-out;
                    color: $theme-color;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .template-swiper {
        .title {
            margin-bottom: 15px;
            font-size: 25px;

            a {
                margin-left: 1px;
                font-size: 1rem;
            }
        }
    }
}