@import '../../style/variables.scss';

.header {
    padding-top: 30px;
    top: -70px;
    transition: top 1s;

    &-hide {
        position: absolute;
        visibility: hidden;
    }

    &-fixed {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        height: 50px;
        padding-top: 0;
        width: 100%;
        background: #1E242C;
        z-index: 1000;

    }

    &-unfixed {
        top: -70px;
        transition: top 1s;
    }

    .inner__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: 40px;
    }

    &__nav {


        &__list {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 40px;
            font-size: 2rem;

            li {
                position: relative;
                transition: color .15s ease;
                cursor: pointer;

                &::before {
                    position: absolute;
                    bottom: -6px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    display: block;
                    width: 0%;
                    height: 3px;
                    background: $theme-color;
                    border-radius: 10px;
                    transition: all .3s ease-in-out;
                }

                &:hover {
                    color: rgb(199, 197, 197);
                    transition: color .15s ease;

                    &:before {
                        width: 100%;
                    }
                }

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}