@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600&display=swap');
@import './variables.scss';

html {
    background: $bg-color;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    color: $main-color;
    font-size: 14px;
}

main,
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 25px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: $main-color;
    margin-top: 30px;
    text-transform: uppercase;
}

@media (max-width:576px) {
    main,
    .container {
        padding: 0 10px;
    }

    .title {
        margin-top: 50px;
        font-size: 25px;
    }
}

.btn {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: $main-color;

    background: $theme-color;
    border: none;
    border-radius: 13px;
    transition: background .15s linear;
    cursor: pointer;

    &:hover {
        background: #ad0f19;
        transition: background .15s linear;
    }
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;

    &-page {
        height: 100vh;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;

    &-page {
        height: 100vh;
    }
}