@import '../../style/variables.scss';

.in-theaters {

    .title {
        a {
            display: none;
            margin-left: 10px;
            font-size: 1.1rem;
            text-decoration: none;
            color: $theme-color;
        }
    }

    &__wrapper {
        position: relative;
        margin-top: 45px;
        width: 100%;
        max-height: 618px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 550px 1fr 1fr;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: 'big small small-s' 'big small small-s' 'big btn btn';
        overflow: hidden;
    }

    &__btn-link {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        grid-area: btn;
        width: 350px;
        height: 50px;
    }
}

@media (max-width:1140px) {
    .in-theaters {

        .title {
            a {
                display: inline;
            }
        }

        &__wrapper {
            display: flex;
            grid-gap: 0;
            justify-content: space-between;
            column-gap: 20px;
        }

        &__btn-link {
            display: none;
        }
    }
}

@media (max-width:768px) {
    .in-theaters {


        &__wrapper {
            max-height: 100%;
            display: grid;
            gap: 20px;
            grid-template-columns: none;
            grid-template-rows: none;
            grid-template-areas: none;
        }
    }
}

@media (max-width:576px) {
    .in-theaters {

        &__wrapper {
            display: block;
            margin-top: 30px;
        }
    }
}