@import '../../style/variables.scss';

.template-page {
    margin-top: 80px;

    &__wrapper {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        row-gap: 50px;
        flex-wrap: wrap;
    }

    &__pagination-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .pagination {
        display: flex;
        font-size: 2rem;
        column-gap: 15px;

        .page-item {
            transition: opacity .15s ease-in;
            cursor: pointer;

            &_active {
                color: $theme-color;
            }

            &:hover {
                opacity: 0.5;
                color: $main-color;
                transition: opacity .15s ease-out;
            }
        }
    }
}