// html,
// body {
//     scrollbar-width: thin;
//     scrollbar-color: transparent transparent;

//     &::-webkit-scrollbar {
//         width: 1px;
//     }

//     &::-webkit-scrollbar-track {
//         background: transparent;
//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: transparent;
//     }
// }


.template-page {
    margin-top: 50px;
    // margin: 0 auto;
    // margin-top: 30px;

}

.no-scrollbars {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.no-scrollbars::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}